@page
@model PizzaShop.Pages.PizzaOrderView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PizzaOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaOrder.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaOrder.Order.OrderNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaOrder.Pizza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaOrder.Pizza.PizzaCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaOrder.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaOrder.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PizzaOrder.PizzaOrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
